.searchb{
    background-color: blueviolet;
    color: white;
}
.error{
    color: red;
}
@media (min-with:350px) and (max-with:1024px) {
    .App {
        background-size: cover;
        width: 100vw;
    }
}