
.conteiner {
    
    justify-content: center;
    background-color: #bd0fa894;
}
.videogames {
    background-color: rgb(46, 35, 45);
}
.selectInput{
    border: 2px solid #8b157d94;
}
.button{
    background-color: blueviolet;
    color: white;
}
@media (min-with:350px) and (max-with:1024px) {
    .App {
        background-size: cover;
        width: 100vw;
    }
}