.conteiner {
    width: 100%;
    height: 60px;
    background-color: #8b157d94;
}
.bcreate {
    
  
   background-color: blueviolet;
}
.bhome{
    background-color: blueviolet;
}
.searchBar{
    display: flex;
    justify-content: end;
    padding-right: 30px;
    

}